@model EmergenciasChats.EL.UsuarioH

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sweetalert2.css" rel="stylesheet" />

<link href="~/Content/diseñousers.css" rel="stylesheet" />

<form class="form__padre" id="form__padre" >

    <div class="titulo__crear-cuenta-iniciar-sesion">
        <h1 class="crear__cuenta">Crear Cuenta</h1>
    </div>

    <h3 class="es__gratis">Es Gratis!</h3>

    <div class="maxl">
        <label class="form__label" for="IDHospital">   </label>
        <input type="hidden" name="IDHospital" id="IDHospital" value="">
    </div>

    <div class="form__grupo" id="grupo__nombre">
        <label class="form__label" for="Nombre"><b>Nombre Hospital</b></label>
        <div class="form__grupo-input">
            <input type="text" class="form__input-input" id="Nombre" name="Nombre" placeholder="Digite el nombre">
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "form__input" })
        </div>
        <p class="form__input-error">El Nombre del hospital solo puede contener letras y espacios.</p>
    </div>

    <div class="form__grupo" id="grupo__apellido">
        <label class="form__label" for="NombreUsuario"> Nombre Usuario</label>
        <div class="form__grupo-input">
            <input type="text" class="form__input-input" id="NombreUsuario" name="NombreUsuario" placeholder="Marlon Jose">
            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "form__input" })

            <p class="form__input-error">El nombre de usuario debe ser solo letras.</p>
            </div>
        </div>



    <div class="form__grupo" id="grupo__telefono">
    <label class="form__label" for="telefono">Telefono</label>
         <div class="form__grupo-input">
             <input type="text" class="form__input-input" id="Telefono" name="Telefono" placeholder="Telefono">
             @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "form__input" })
             <p class="form__input-error">Datos numericos.</p>
         </div>
         </div>      

    <div class="form__grupo" id="grupo__Direccion">
        <label class="form__label" for="Direccion">Direccion</label>
        <div class="form__grupo-input">
            <input type="text" class="form__input-input" id="Direccion" name="Direccion" required pattern="[a-zA-Z0-9]+" placeholder="Marlon Jose">
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "form__input" })
            <p class="form__input-error">Caracteres validos.</p>
        </div>
        </div>

    <div class="form__grupo" id="grupo__codigoH">
        <label class="form__label" for="codigoH">Codig</label>
        <div class="form__grupo-input">
            <input type="text" class="form__input-input" id="CodigoH" name="CodigoH" placeholder="digit....">
            @Html.ValidationMessageFor(model => model.CodigoH, "", new { @class = "form__input" })
            <p class="form__input-error">Solo digitos.</p>
            </div>
        </div>
    <div class="form__grupo" id="grupo__correo">
        <label class="form__label" for="correo">Correo Electrónico</label>
        <div class="form__grupo-input">
            <input type="text" class="form__input-input" id="Email" name="Email" placeholder="correo@gmail.com">
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form__input" })
         
        </div>
        <p class="form__input-error">El correo solo puede contener letras, numero, guion y guion bajo.</p>
        </div>

    <div class="form__terminos">
        <div class="maxl">
            <label class="radio inline">
                <input type="hidden" name="Estado" id="Estado" value="True" checked>
            </label>
        </div>
    </div>



    <div class="form__grupo" id="grupo__Password">
        <label class="form__label" for="Password"> Contraseña</label>
        <div class="form__grupo-input">
            <button id="ShowPassword" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
            <input type="password" class="form__input-input" id="Password" name="Password" placeholder="Digite su contraseña">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form__input" })         
          
        </div>
     
        <p class="form__input-error">La contraseña solo puede contener de 4 a 16 dígitos.</p>
        </div>

    <div class="form__grupo" id="grupo__Rol">
        <label class="form__label" for="Rol"> Rol</label>
        <select class="form-control form-control-lg"  name="Rol" id="Rol" >
            <option class="hidden" selected disabled>Seleccione el rol</option>
            <option value="Administrador">Administrador</option>
            <option value="SubAdministrador">Usuarios Hospital</option>
        </select>
    </div>
    <div class="form__terminos">
        <label class="form__label" for="terminos">
            <input class="form__checkbox" type="checkbox" id="terminos" name="terminos">
            Acepto los Términos y Condiciones
        </label>
    </div>
  
    <div class="form__mensaje" id="form__mensaje">
        <p> <b>Error:</b> Completa todos los campos correctamente.</p>
    </div>

    <div class="form__btn" id="form__btn">
        <input type="submit" class="btnRegister" value="Create" />
        <p class="form__mensaje-exitoso" id="form__mensaje-exitoso">Su cuenta se creo correctamente.</p>
 
    </div>
   
</form>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
      
      <!--mostrar contraseña-->
<script type="text/javascript">
    function mostrarPassword() {
           var cambio = document.getElementById("Password");
		if(cambio.type == "Password"){
			cambio.type = "text";
			$('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
		}else{
			cambio.type = "password";
			$('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
		}
	}

	$(document).ready(function () {
	//CheckBox mostrar contraseña
	$('#ShowPassword').click(function () {
		$('#Password').attr('type', $(this).is(':checked') ? 'text' : 'Password');
	});
   });
</script>

    <!--validacion de campos-->
   
    @*<script src="~/Scripts/formuser.js"></script>*@
    <!--Metodo de guardar con ajax-->
    <script src="~/Scripts/metodo.js"></script> 
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script>
            $(document).ready(function () {
                $('form').submit(function (e) {
                    e.preventDefault();
                    var data = $(this).serializeFormJSON();
                    Create("UsuarioH", data);
                });
            });
</script>
}
