
@{
    ViewBag.Title = "ActualizarR";
}

<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <!--debe ejecutar primero el jquery-->
    <!--<script src="https: //code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https ://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script type="text/javascript" src="js/d3.v3.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/UsuariosHospitales.js"></script>
    <!--icon eye-->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="~/Scripts/iEdit.min.js"></script>
    <link href="~/Content/Form.css" rel="stylesheet" />
    <!--archivo javaScript-->
    <script src="~/Scripts/modificar.js"></script>

    <style>
        .password-icon {
            float: right;
            position: relative;
            margin: -25px 10px 0 0;
            cursor: pointer;
        }
    </style>
    @*<link href="~/Content/iEdit.min.css" rel="stylesheet" />*@
</head>
<body ng-controller="Admin">

    @*<br />*@
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">SISTEMA DE SERVICIOS DE SALUD..</h3>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                    </p>
                </div>
            </div>
            <div class="text-left">
                <p>
                    Abandonar esta Pagina
                    <button type="button" class="btn btn-outline-danger" ng-click="irIndex()">Regresar</button>
                </p>
            </div>
        </div>
    </div>

    <br />
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Sistema para atender emergencias de salud ...</h3>

            </div>
        </div>
    </div>
    <form class="row" id="basic-form">
        <div class="col-md-12">
            <h3 class="text-center">Actualizar datos</h3>
        </div>

        <div class="form__terminos">
            <div class="maxl">
                <label class="radio inline">
                    <input type="hidden" class="form-control" id="IDAdmin" name="IDAdmin" value="@Model.IDAdmin">
                    <input type="hidden" id="Estado" value="@Model.Estado" checked>
                    <!--<input type="hidden" ng-model="fecha_registro" id="fecha_registro" >-->
                </label>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <input id="Nombres" name="Nombres" value="@Model.Nombres" type="text" class="form-control" placeholder="Nombre Completo" required />
        </div>
        <div class="col-md-12 form-group">
            <input id="Apellidos" name="Apellidos" value="@Model.Apellidos" type="text" class="form-control" placeholder="Apellidos" required />
        </div>
        <!--<div class="col-md-12 form-group">

            <input class="form-control" id="Sexo" name="Sexo" value="Model.Sexo" type="text" placeholder="sexo">
        </div>-->


        <div class="col-md-12 form-group">
            <input id="Dui" name="Dui" value="@Model.Dui" type="text" class="form-control" placeholder="dui" required />
        </div>

        <div class="col-md-12 form-group">
            <input pattern="^[9|8|7|6]\d{7}$" id="Telefono" name="Telefono" value="@Model.Telefono" class="form-control" placeholder="Telefono" required />
        </div>
        <div class="col-md-12 form-group">
            <input id="Usuario" name="Usuario" value="@Model.Usuario" class="form-control" placeholder="Usuario" required />
        </div>
        <div class="col-md-12 form-group">
            <input type="text" id="email" minlength="3"name="Email" class="form-control" placeholder="correo" required />
        </div>
        <div class="col-md-12 form-group">
            <label for="departamento">
                <input type="password" id="Password" name="Password" class="form-control password1" value="@Model.Password" placeholder="Ingrese una contraseña" />
                <span class="fa fa-fw fa-eye password-icon show-password"></span>
            </label>
        </div>
        <!--Imagen-->
        <div class="col-md-12 form-group">
            <label class="control-label col-md-2" for="File">Actualizar Perfil</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="File" name="File" type="file" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="File" data-valmsg-replace="true"></span>
            </div>
        </div>

        <img id="ImagenR" name="ImagenR">
        <input type="hidden" class="custom-file-input  form-control-lg" name="Imagen" id="Imagen" value="@Model.Imagen" />
        <!--imagen-->

        <div class="col-md-12 form-group">
            <button type="submit" id="send" class="btn btn-primary" ng-click="ActualizarR()">Actualizar</button>
        </div>
    </form>
    <link href="~/Content/iEdit.min.css" rel="stylesheet" />
    <!--recortar imagen-->
    <script>

            $("#File").change(function (e) {
                var img = e.target.files[0];
                if (!iEdit.open(img, true, function (res) {
                    $("#ImagenR").attr("src", res);
                    $("#Imagen").val(res);
                    console.log(res);
                })) {
                    alert("Selecciona una imagen");
                }
            });

    </script>
    <!--icon eye-->
    <script>
        window.addEventListener("load", function () {

            // icono para mostrar contraseña
            showPassword = document.querySelector('.show-password');
            showPassword.addEventListener('click', () => {
                password1 = document.querySelector('.password1');

                if (password1.type === "text") {
                    password1.type = "password"
                    showPassword.classList.remove('fa-eye-slash');
                } else {
                    password1.type = "text"
                    showPassword.classList.toggle("fa-eye-slash");
                }

            })

        });
    </script>
    <!--editar con ajax-->
    <script>
        $(document).ready(function () {
            //Procesamiento del Formulario
            $('form').submit(function (e) {
                e.preventDefault();
                var data = $(this).serializeFormJSON();
                Modificar("UsuariosHospitales", data);
            });

        });
    </script>
    <link href="~/Content/iEdit.min.css" rel="stylesheet" />

    <div class="container body-content">
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
</body>
</html>

