
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    ViewBag.Title = "Index";
    var UsuariosHospitales = ViewBag.usuariosHospitales;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script> 
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/UsuariosHospitales.js"></script>
</head>
<body ng-controller="UsuariosHospitales">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Lista de usuarios </h1>
                        <p class="lead">Descripcion.</p>
                        <button type="button" class="btn btn-outline-success" ng-click="agregarnuevo()">Agregar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id usuario</th>
                            <th scope="col">Nombre </th>
                            <th scope="col">Nombre Usuario </th>
                            <th scope="col">Apelllidos</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in UsuariosHospitales)
                        {
                            <tr>
                                <th scope="row">@item.NombreUsuarios</th>
                                <td>@item.NombreCompleto</td>
                                <td>@item.NombreUsuario</td>
                                <td>@item.Apellidos</td>
                                <td>@item.Telefono</td>
                                <td>@item.Email</td>
                                <td>
                                    |
                                @*<a href="/Home/update_data?id={ {e.Sr_no} }">Update</a>*@
                                    <a href="/UsuariosHospitales/Modificar?id={{@item.NombreUsuarios}}">Update</a>

                                    @*<button type="button" class="btn btn-outline-success"  ng-click='editar("@item.NombreUsuarios")' >
           
                                        <i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit">Editar</i>
                                    </button>*@
                                
                                    <button type="button" class="btn btn-danger" ng-click='EliminarUsuariosHospitales("@item.NombreUsuarios")'>
                                    <i class="ui-tooltip fa fa-trash-o" style="font-size: 22px;" data-original-title="Delete">Eliminar</i></button>


                                </td>


                            </tr>
                        }
</tbody>
                </table>

            </div>




        </div>

    </div>

    <div class="container body-content">
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
</body>
</html>


