
@{
    Layout = null;
    ViewBag.Title = "Index";
    var UsuariosHospitales = ViewBag.usuariosHospitales;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <!--<script src="Scripts/jquery-1.8.2.min.js" type="text/javascript" lang="ja"></script>-->

    <!--<link rel="stylesheet" href="/w3css/4/w3.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    @*<script src="JavaScript13.js" type="text/javascript" lang="ja"></script>*@ 

    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script> 
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/UsuariosHospitales.js"></script>
    <script src="~/Scripts/iEdit.min.js"></script>
    <link href="~/Content/iEdit.min.css" rel="stylesheet" />
    <!--icon eye-->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body ng-controller="UsuariosHospitales">

    <!--nav-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Chats Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                     <a href="@Url.Action("Inicio", "Home")" id = "home", class = "navbar-brand text-secondary">
                        @*<span class="glyphicon glyphicon-home"></span>*@ <i class="fas fa-home"> </i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "UsuariosClientes")">Usuarios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ajustes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Configuracion", "UsuariosHospitales")">Configuraciones</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Admin")" >Cerrar Sesion</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <!--nav-->
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">      
                    <div class="container">
                        <h1 class="display-4">Usuarios de Hospitales</h1>
                        <p class="lead">Descripcion.</p>
                        <button type="button" class="btn btn-outline-success" ng-click="agregarnuevo()">Agregar</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="">Nuevo</button>
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" data-whatever="">DETALLE</button>*@
            @*<div class="col-md-12">*@
            <div class="table-responsive">
                @*<table class="table">*@
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombres</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Apelllidos</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in UsuariosHospitales)
                        {
                            <tr>
                                <th scope="row">@item.NombreCompleto</th>
                                <th>@item.Username</th>
                                <td>@item.Apellidos</td>
                                <td>@item.Telefono</td>
                                <td>@item.Email</td>
                                <td>
                                    |
                                    @*<a class="btn btn-success" href="/UsuariosHospitales/Modificar?id=(@item.Username)">
                                        <i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit">Editar</i>
                                    </a>*@
                                    <button type="button" class="btn btn-danger" ng-click='EliminarUsuariosHospitales("@item.Username")'>Eliminar
                                        <span class="oi oi-trash"></span>
                                    </button>

                                    <!--<button type="button" class="w3-btn w3-ripple" ng-click="EditData(item.Username)">&#9998; Edit</button>-->




                                    <a class="btn btn-success" href="/UsuariosHospitales/Modificar?id={@item.Username}">@*<i class="fas fa-edit"></i>*@&#9998;</a><!--este me llevara el dato a procesar -->
                               

                                </td>
                                <td><a class="btn btn-warning" href='UsuariosHospitales/Modificar?id=("@item.Username")'> Editar</a>
                                    <a class='btn btn-success' @*onClick='verDetalle(" +  item.Username + ")'*@ ng-click="GetUsers" data-toggle='modal' data-target='#Modal'>Detalle</a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

           @*</div>*@
        </div>

        <!--Modal de boostrap-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="Estado" ng-model="Estado" value="True">
                            </div>
          
                            <div class="col-md-12 form-group">
                                <input ng-model="NombreCompleto" type="text" class="form-control" placeholder="Nombre Completo" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <input ng-model="Apellidos" type="text" class="form-control" placeholder="Apellidos" required />
                            </div>
                           
                            <div class="col-md-12 form-group">

                                <input class="form-control" ng-model="Username" type="text" placeholder="Nombre Usuario">
                            </div>


                            <div class="col-md-12 form-group">
                                <input ng-model="Direccion" type="text" class="form-control" placeholder="Direccion" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <input ng-model="Dui" class="form-control" placeholder="Dui" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <input pattern="^[9|8|7|6]\d{7}$" ng-model="Telefono" class="form-control" placeholder="Telefono" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" id="email" minlength="3" ng-model="Email" class="form-control" placeholder="correo" required />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="departamento">   </label>
                                    <input type="password" ng-model="Password" class="form-control password1" value="clave" placeholder="Ingrese una contraseña" />
                                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                            </div>
                            <!--Imagen-->
                            <div class="col-md-12 form-group">
                                <label class="control-label col-md-2" for="File">Imagen</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="File" name="File" type="file" value="" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="File" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <img id="ImagenR" name="ImagenR">
                            <input type="hidden" class="custom-file-input  form-control-lg" ng-model="Imagen" id="Imagen" />
                            <!--imagen-->

                        </form>
                    </div>
                    <div class="modal-footer">
                        <p class="text-center">
                           <button type="submit" id="send" class="btn btn-primary" ng-click="AgregarUsuariosHospitales()">Guardar</button>                  
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--script-->
        <script>
            ///RECORTAR END SAVE IMAGEN 
            $("#File").change(function (e) {
                var img = e.target.files[0];
                if (!iEdit.open(img, true, function (res) {
                    $("#ImagenR").attr("src", res);
                    $("#Imagen").val(res);
                    console.log(res);
                })) {
                    alert("Selecciona una imagen");
                }
            });
                //MODAL DE REGISTRO
                $('#exampleModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) 
                    var recipient = button.data('whatever') 
                    var modal = $(this)
                    modal.find('.modal-title').text(' Nuevo Registro ' + recipient)
                    modal.find('.modal-body input').val(recipient)
                })
            
            ///ICONO MOSTRAR   EYE
        window.addEventListener("load", function () {

            // icono para mostrar contraseña
            showPassword = document.querySelector('.show-password');
            showPassword.addEventListener('click', () => {

                // elementos input de tipo clave
                password1 = document.querySelector('.password1');
               // password2 = document.querySelector('.password2');

                if (password1.type === "text") {
                    password1.type = "password"
                   /// password2.type = "password"
                    showPassword.classList.remove('fa-eye-slash');
                } else {
                    password1.type = "text"
                   // password2.type = "text"
                    showPassword.classList.toggle("fa-eye-slash");
                }

            })

        });
        </script>
        <!--MODAL-->



        <!--Modal de boostrap detalle-->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>



                            <div @*ng-app="myApp" ng-controller="UsuariosHospitales"*@>

                                <p>Usuario : {{Username}}</p>
                                <p>Nombre : {{NombreCompleto}}</p>
                                <p>Correo : {{Email}}</p>

                            </div>

                                                                              
                      <script>
                         //var app = angular.module('myApp', []);
                         //app.controller('UsuariosHospitales', function ($scope, $http) {

                             $scope.GetUsers = function (id) {
                                 $http.get("/UsuariosHospitales/GetUsuarioById")
                          .then(function (response) {
                              $scope.Username = response.data;
                              $scope.NombreCompleto = response.status;
                              $scope.Email = response.Email;
                          });

                             };
               //});
                </script>
                            <!--detalle con ajax-->
                            @*<div class="modal-body">
                                <input type="hidden" id="_Username" />
                                <p id="_Titulo"></p>
                                <p id="_Sinopsis"></p>
                                <p id="_Año"></p>
                            </div>*@
                            <!--detalle con ajax-->
                        </form>






                       @*<div>
                           <!--o hago un foreach para mostrar los datos-->
                           <style>
                               .catalogo {
                                   padding: 0.5rem;
                                   width: 24%;
                                   height: auto;
                                   display: inline-block;
                                   text-align: center;
                                   margin-bottom: 5rem;
                               }

                                   .catalogo img {
                                       max-width: 90%;
                                       max-height: 150px;
                                   }
                           </style>

                           <h2>Detalle</h2>

                           @foreach (var u in Model)
                           {
                               <div class="catalogo">
                                   <form>
                                       <input type="hidden" value="@u.Username" name="Username" />
                                       <h4>@u.NombreCompleto</h4>
                                       <!--<img src="~/Images/u.Imagen" />-->
                                       <!--<img src="u.Imagen"/>-->
                                       <!--<img [src]="u.Imagen" />-->
                                       <p>@u.Username</p>
                                       <p>@u.Email</p>
                                       <hr />
                                       <!--<button type="submit" class="btn btn-info">Agregar al Carrito</button>-->
                                   </form>
                               </div>
                           }
                           <!--o ha un fore           mostrar los datos-->
                       </div>*@




                    </div>
                    <div class="modal-footer">
                        <p class="text-center">
                            <button type="submit" id="send" class="btn btn-primary" ng-click="AgregarUsuariosHospitales()">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>






    </div>

    <div class="container body-content">
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>


