<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head> <!-- color del navbar  #dedada -->
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light  text-light" style="background-color:#808080"   >
            <a class="navbar-brand text-light" href="#"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup"> 
                <div class="navbar-nav">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrador <i class="fas fa-users-cog"></i>
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Create", "Admi")" class="dropdown-item"> Agregar</a>
                        <a href="@Url.Action("Create", "UsuarioH")" class="dropdown-item"> Registrar Usuario</a>   
                    </div>
                   
                    <div aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-right">cerrar sesion </a>  <i class="fas fa-sign-out-alt"></i>
                        @*<a href="@Url.Action("logi", "Admi")" class="nav-link">Iniciar Sesion</a>*@
                      
                    </div>
            
                       
                   
                    <!--cerrer secion -->
                    <div aria-label="Cuenta" 
                     class="oajrlxb2 tdjehn4e qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 j83agx80 p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l bp9cbjyn s45kfl79 emlxlaya bkmhp75w spb7xbtv rt8b4zig n8ej3o3l agehan2d sk4xxmp2 taijpn5t qypqp5cg q676j6op" role="button" tabindex="0">
                    <i class="hu5pjgll lzf7d6o1 sp_knrS9We1I6b_1_5x sx_472077">
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-right">cerrar sesion </a>
                        <a href="@Url.Action("logi", "Admi")" class="nav-link">Iniciar Sesion</a>
                    </i>
                    <div class="s45kfl79 emlxlaya bkmhp75w spb7xbtv i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s rnr61an3" data-visualcompletion="ignore"></div>
                    </div>
                    <!--cerrer secion-->
                    
                </div>
            </div>
        </nav>



        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Alertas  - </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script>
            //funcion Serializar Formularios
            (function ($) {
                $.fn.serializeFormJSON = function () {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function () {
                        if (o[this.name]) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
            })(jQuery);
        </script>

        @RenderSection("scripts", required: false)
        <script src="https://kit.fontawesome.com/477b92cabc.js" crossorigin="anonymous"></script>
</body>
</html>
<!---->
















