@model EmergenciasChats.EL.AdminEL

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<link href="~/Content/sweetalert2.css" rel="stylesheet" /> 
<style>
    .register {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,18,74,1) 35%, rgba(0,212,255,1) 100%);
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

            .register .nav-tabs .nav-link:hover {
                border: none;
            }

            .register .nav-tabs .nav-link.active {
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>

<form>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="~/img/register.svg" />
                <h3>Bienvenido</h3>
                <p>Solo un administrador puede registrarse</p>

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Formulario de registro</h3>
                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-2"> Nombres</label>
                                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Apellidos</label>
                                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Sexo</label>
                                    @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Dui</label>
                                    @Html.EditorFor(model => model.Dui, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dui, "", new { @class = "text-danger" })
                                </div>
                             
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Telefono</label>
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Direccion</label>
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.  Direccion, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Nombre Usuario</label>
                                    @Html.EditorFor(model => model.NameUser, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NameUser, "", new { @class = "text-danger" })
                                </div>
                               


                                <div class="form-group">
                                    <label class="control-label col-md-2"> imagen</label>
                                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                </div>




                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="hidden" name="Estado" id="Estado" value="True" checked>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Contraseña</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Rol</label>
                                    <select class="form-control" name="Role" id="Role">
                                        <option class="hidden" selected disabled>Seleccione el rol</option>
                                        <option value="Administrador">Administrador</option>
                                        <option value="SubAdministrador">SubAdministrador</option>
                                    </select>
                                </div>
                                <input type="submit" class="btnRegister" value="Create" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<br />
<div>
    <a href="@Url.Action("List", "Admin")" class="btn btn-primary"> Ver lista</a>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/acciones.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script>
            $(document).ready(function () {
                $('form').submit(function (e) {
                    e.preventDefault();
                    var data = $(this).serializeFormJSON();
                    Create("Admin", data);
                });
            });
    </script>
}




